@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
body, html{
    background-color: rgb(209, 185, 153);
}
header{
    background-color: rgb(174, 174, 174);
}
header h1{
    padding: 10px;
    text-align: center;
}
#burger{
    background-color: rgb(49, 49, 49);
    color: white;
    display: block;
    text-align: center;
    padding: 8px;
}
#burger:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
menu{
    display: none;
}
menu ul{
    list-style-type: none;
}
menu a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(87, 87, 87);
    color: white;
    border-top: 2px solid gray;
    border-radius: 5px;
}
menu a:hover{
    background-color: gray;
}
main{
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
article h2{
    padding-bottom: 20px;
}
article p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}